.profile {
  display: flex;
  max-width: 33%;
  flex-direction: column;
  margin: 80px auto;
  border: 1px black solid;
  border-radius: 8px;
  background-color: #ffffff;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.avatar {
  display: block;
  border-radius: 50%;
  border: 1px black solid;
  margin: 50px auto;
  max-width: 40%;
  overflow: hidden;
}

.name {
  font-weight: bold;
  font-size: 36px;
  color: rgb(14, 14, 14);
  margin-bottom: 18px;
}

.tag {
  font-weight: bold;
  color: gray;
  font-size: 20px;
  margin-bottom: 18px;
}

.location {
  font-weight: bold;
  color: gray;
  font-size: 20px;
  margin-bottom: 50px;
}

.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(184, 182, 182);
}

.stats li {
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 18px;
  text-align: center;
  justify-content: space-between;
  padding: 25px 25px;
  border: 1px black solid;
}

.label {
  font-weight: bold;
  color: gray;
  font-size: 20px;
}

.quantity {
  font-weight: bolder;
  color: rgb(14, 14, 14);
  font-size: 32px;
}
